#jwt_string_container {
    margin-left: 6em;
    max-width: 30em;
    font-style: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
}
#credential_view_container {
    margin: 5em;
    display: block;
}

#reason_non_valid {
    font-weight: bold;
    color: #e74c3c;
}
#valid_credential,
#non_valid_credential,
#signed_banner
{
font-weight: bold;
margin-left: 6em;
}

#signed_banner {
    margin-top: 3rem;

}

#valid_credential {
    color: #27ae60;
}

#issuer_render_container {
    margin-left: 5em;
    margin-top: 3em;
}